@use '../variables' as *;
@import '../mixins';

#contact {
  color: #424242;
  padding: 3rem 2rem;
  background: linear-gradient(286deg, #dee8ff, #eaf2ff);
  font-size: 20px;
  text-align: center;

  display: flex;
  align-items: center;
  align-content: center;

  @include breakpoint(lg) {
    font-size: 22px;
  }

  .contact-wrap {
    max-width: 400px;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  p {
    margin-bottom: 0.4rem;
    font-family: 'Source Code Pro';
  }

  h1,
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #e06c75;
    margin-bottom: 0.8rem;
    @include breakpoint(sm) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .contact-icon {
      height: 75px;
    }
  }
}
