@use 'variables' as *;
@import 'mixins';

.button {
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 14px;
  font-weight: 600;
  display: flex;
  gap: 0.3rem;
  text-decoration: none;
  transition: all 100ms;

  @include breakpoint(sm) {
    font-size: 20px;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 3px 0px #0000004f;
  }
}

.github-button {
  background-color: #6d64eb;
  color: white;
}

.visit-button {
  background-color: #00a800;
  color: white;
}
