@use 'variables' as *;

.button {
  padding: 0.5rem;
  border-radius: 14px;
  font-weight: 600;
  display: flex;
  gap: 0.3rem;
  text-decoration: none;
  transition: all 100ms;

  &:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 3px 0px #0000004f;
  }
}

.github-button {
  background-color: #6D64EB;
  color: white;
}

.visit-button {
  background-color: #00a800;
  color: white;
}