// colors
$primary: rgb(109, 100, 235);
$secondary: #eb6464;
$font-color-primary: #fafafa;
$project-bg: #394354;
$font-mono: 'Source Code Pro';

// breakpoints

$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
