@use "reset";
@use "variables" as *;
@use "nav";
@use "header";
@use "project";
@use "utils";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

body {
  font-family: "Source Code Pro", monospace;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 2rem;
}

@media only screen and (max-width: $breakpoint-mobile) {
  section {
    padding: 0.5rem;
  }
}
