@use "reset";
@use "variables" as *;
@use "nav";
@use "header";
@use "project";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

.first-section {
  background-color: #21252b;
}

.window-height {
  min-height: 100vh;
}

