<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="253.32033"
   height="64.714043"
   fill="#ffffff"
   viewBox="0 0 67.024332 17.122256"
   version="1.1"
   id="svg415"
   sodipodi:docname="arrow-down.svg"
   inkscape:version="1.1.1 (1:1.1+202109281944+c3084ef5ed)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview13615"
     pagecolor="#505050"
     bordercolor="#eeeeee"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     showgrid="true"
     inkscape:zoom="2.9205976"
     inkscape:cx="104.08829"
     inkscape:cy="41.943471"
     inkscape:window-width="1500"
     inkscape:window-height="931"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0">
    <inkscape:grid
       type="xygrid"
       id="grid15425"
       originx="-23.108464"
       originy="-13.604029" />
  </sodipodi:namedview>
  <defs
     id="defs412">
    <inkscape:path-effect
       effect="interpolate_points"
       id="path-effect15606"
       is_visible="true"
       lpeversion="1"
       interpolator_type="CentripetalCatmullRom" />
    <inkscape:path-effect
       effect="bspline"
       id="path-effect15604"
       is_visible="true"
       lpeversion="1"
       weight="33.333333"
       steps="2"
       helper_size="0"
       apply_no_weight="true"
       apply_with_weight="true"
       only_selected="false" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect15564"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,1.3,0,1 @ F,0,0,1,0,1.3,0,1 @ F,0,0,1,0,1.3,0,1 @ F,0,0,1,0,1.3,0,1 @ F,0,0,1,0,1.3,0,1 @ F,0,0,1,0,1.3,0,1"
       unit="px"
       method="bezier"
       mode="F"
       radius="1.3"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false" />
    <inkscape:path-effect
       effect="mirror_symmetry"
       start_point="70.92321,104.83535"
       end_point="65.306469,119.68661"
       center_point="68.114839,112.26098"
       id="path-effect15429"
       is_visible="true"
       lpeversion="1.1"
       mode="vertical"
       discard_orig_path="false"
       fuse_paths="true"
       oposite_fuse="true"
       split_items="false"
       split_open="false" />
    <inkscape:path-effect
       effect="interpolate_points"
       id="path-effect15310"
       is_visible="true"
       lpeversion="1"
       interpolator_type="CentripetalCatmullRom" />
    <inkscape:path-effect
       effect="bspline"
       id="path-effect15308"
       is_visible="true"
       lpeversion="1"
       weight="10"
       steps="3"
       helper_size="0"
       apply_no_weight="true"
       apply_with_weight="true"
       only_selected="false" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect15150"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="0"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false" />
  </defs>
  <g
     id="layer1"
     transform="translate(-34.221745,-102.76914)">
    <path
       style="fill:#ffffff;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 40.321517,93.947431 -1.781705,2.0192 c -0.475033,0.538353 -0.42376,1.359931 0.114522,1.835045 l 25.212817,22.254074 c 0.538282,0.47511 1.556676,0.86027 2.274646,0.86027 H 99.77227 c 0.71797,0 1.3,-0.58203 1.3,-1.3 v -2.69297 c 0,-0.71797 -0.58203,-1.3 -1.3,-1.3 H 68.14375 c -0.71797,0 -1.736366,-0.38515 -2.274651,-0.86027 L 42.156292,93.832921 c -0.538285,-0.475111 -1.359742,-0.423843 -1.834775,0.11451 z"
       id="path15427"
       inkscape:path-effect="#path-effect15429;#path-effect15564"
       inkscape:original-d="m 62.707028,120.91511 h 38.364582 v -5.29167 H 62.707028 Z"
       sodipodi:nodetypes="ccccc"
       transform="rotate(-20.716603,64.221815,112.62769)" />
  </g>
</svg>
